
@font-face {
  font-family: roboto;
  src: url("../fonts/roboto.woff");
}

@font-face {
  font-family: robotobold;
  src: url("../fonts/robotobold.woff");
}

@font-face {
  font-family: robotomedium;
  src: url("../fonts/robotomedium.woff");
}



body {
  font-family: "roboto", "Arial", sans-serif;
  margin: 0;
  padding: 0;


  width: 1200px;
  margin: 0;
}

.catalog-body {
  background-image: url("../img/lightning-background-catalog.png");
}

.body {
  position: relative;
}

.main-header {
  display: inline-flex;
  position: absolute;
}

.site-navigation {
  display: inline-flex;
}

.site-navigation li {
  margin-left: 10px;
}

.user-actions {
  display: inline-flex;
}

.breadcrumps li {
  display: inline-flex;
}

.container {
  margin-left: 25px;
}

.big-ad {
    width: 1045px;
    height: 811px;
    margin: auto;
    color: #fff;
    position: relative;
    top: 0;
}

.slider {
  width: 1045px;
  height: 811px;
  position: relative;
  display: block;
  margin-bottom: 800px;
}

.big-ad-name {
  position: absolute;
  top: 70%;
  left: 200px;
}



.slider-controls {
  position: absolute;
  top: 50%;
  z-index: 100;
}

.slider-controls label {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 3px solid white;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 50%;
}

.slider-slides .slide-2 {
  position: absolute;
  top: 0;
  display: flex;
}

.slider-slides .slide-3 {
  position: absolute;
  top: 0;
  display: flex;
}

.slide-1,
.slide-2,
.slide-3 {
  display: none;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
    background-color: #fff;
}

.visually-hidden {
  display: none;
}

#btn-1:checked ~ .slider-slides .slide-1 {
    display: flex;
}
#btn-2:checked ~ .slider-slides .slide-2{
    display: flex;
}
#btn-3:checked ~ .slider-slides .slide-3{
    display: flex;
}

#btn-1:checked ~ .body {
  background-color: rgb(132, 157, 143);
}
#btn-2:checked ~ .body {
  background-color: rgb(137, 150, 166);
}
#btn-3:checked ~ .body {
  background-color: rgb(157, 139, 132);
}



body input[type=radio] {
  display: none;
}

li {
  list-style: none;
}

.additional-ad {
  display: inline-flex;
}

.malinka {
  background: url("../img/malina-background.jpg") no-repeat;
  background-size: 560px, 229px;
  border-radius: 15px;
  color: #fff;
  width: 560px;
  height: 229px;

}

.chocolat {
  background: url("../img/chocolat-background.jpg") no-repeat;
  background-size: 560px, 229px;
  border-radius: 15px;
  color: #fff;
  width: 560px;
  height: 229px;
  margin-left: 25px;
}

.hit-creams-list {
  display: inline-flex;
}

.hit-creams-item {
  position: relative;
  width: 267px;
  height: 267px;
  margin-right: 25px;
}


.hit-creams-item::before {
  content: "";
  background: url("../img/hit.svg") no-repeat;
  width: 61px;
  height: 61px;
  display: flex;
  position: absolute;
  left: 5px;
  top: 5px;
}

.shop-info {
  background: url("../img/wafer.jpg");
  border-radius: 15px;
  width: 1146px;
  height: 306px;
  display: block;
  margin-top: 100px;
  text-align: center;
}

.shop-info-list {
  display: inline-block;
}

.shop-info-item {
  display: inline-flex;
  width: 520px;
}

.blog {
  display: flex;
  margin-top: 20px;
}

.blog-news {
  background: url("../img/strawberry-background.jpg") no-repeat;
  width: 560px;
  height: 220px;
  border-radius: 15px;
}

.subscription {
  background-image: repeating-linear-gradient(-45deg, white 0, white 10px, rgb(146, 205, 255) 10px, rgb(146, 205, 255) 20px, white 20px, white 30px, rgb(254, 158, 144) 30px, rgb(254, 158, 144) 40px);
  width: 560px;
  height: 220px;
  border-radius: 15px;
  position: relative;
  margin-left: 25px;
}

.white-background {
  background-color: white;
  display: block;
  width: 549px;
  height: 211px;
  border-radius: 15px;
  position: absolute;
  top: 5px;
  left: 5px;
}

.location {
  background: url("../img/map-background.jpg") no-repeat;
  width: 1200px;
  height: 430px;
}

.main-footer {
  display: inline-flex;
}

.footer-social {
  width: auto;
}

.footer-social li {
  display: inline-block;
}

.sertification {
  display: flex;
}

.footer-company-info {
  width: 220px;
  margin-left: 50px;
}
