
@font-face {
  font-family: Roboto;
  src: url("../fonts/roboto.woff2");
}

@font-face {
  font-family: Robotobold;
  src: url("../fonts/robotobold.woff2");
}

@font-face {
  font-family: Robotomedium;
  src: url("../fonts/robotomedium.woff2");
}

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  background: rgb(132, 157, 143);
}

a {
  text-decoration: none;
}

.main-header{
  width: 1200px;
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
  position: absolute;
}

.main-navigation {
  display: inline-flex;
}

.header-contacts {
  display: inline-flex;
}

.main-navigation li{
  list-style: none;
}

.main-navigation a{
  font-size: 16px;
  line-height: 18px;
  color: #fff;

}

.site-navigation {
  position: relative;
  display: inline-flex;
  flex-grow: 3;
  word-wrap: normal;
  height: 32px;
  line-height: 32px;
  vertical-align: middle;
  padding: 0;
  width: 800px;
}

.site-navigation-item {
  margin-right: 20px;
}

.site-navigation-item-has-children .catalog-button{
  display: block;
  width: 82px;
  line-height: 32px;
  border-radius: 15px;
  text-align: center;
  vertical-align: middle;
  position: relative;
}

.catalog-button:hover {
  background-color: #fff;
  color: #000;
  font-family: "Robotobold";
}


.catalog-button:hover .site-navigation-frame {
  display: block;
}

.catalog-button:hover ~ .site-navigation-submenu {
  display: block;
}

.site-navigation-frame:hover .site-navigation-submenu {
  display: block;
}

.site-navigation-item .catalog-button:active {
    background-color: rgba(248, 247, 244, 0.988);
    box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.5);
}



.site-navigation-frame {
  position: relative;
  top: 0;
  width: 80px;
  height: 20px;
  border: 1px solid red;
}

.site-navigation-submenu {
  display: none;
  top: 10px;
  padding: 0;
  border-radius: 5px;
  background-color: rgba(248, 247, 244, 1);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  width: 143px;
  text-indent: 10px;
  font-size: 14px;
}

.site-navigation-submenu li:hover {
  background-color: #fbded7;
}

.site-navigation-submenu li:active {
  background-color: #f6b5a5;
}

.site-navigation-submenu .submenu-item-current {
  background-color: #d07058;
}


.site-navigation-submenu .submenu-item:first-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-spacing: 10px;
  font-weight: bold;
}

.submenu-item a{
  color: #000;
  z-index: 100;
}

/* размерные элементы проставить на всех кнопках*/
/* изменить название кнопки с выподающим меню nav-link-has-children*/
.site-navigation > li,
.user-actions > li {
  position: relative;
}


.user-actions {
  list-style: none;
  display: inline-flex;
  padding: 0;
}

.button-search {
  display: block;
  width: 33px;
  height: 33px;
  background-color: rgba(255, 255, 255, 0.3);
  background-image: url("../img/loupe.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  position: relative;
}

.button-search:hover {
  display: block;
  width: 33px;
  height: 33px;
  background-color: rgba(255, 255, 255, 1);
  background-image: url("../img/loupe-black.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  color: black;
}

.button-search:hover ~ .modal-search{
  display: block;
}

.modal-search:hover {
  display: block;
}

.modal-search {
  display: none;
  border-radius: 6px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  position: absolute;
  width: 341px;
  height: 84px;
  z-index: 276;
  right: 0;
}


#search-field {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(211, 211, 210);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  margin: 15px 0 0 12px;
  width: 315px;
  height: 48px;
  z-index: 277;
}

.entrance-button {
  display: block;
  background-color: rgba(255, 255, 255, 0.2);
  background-image: url("../img/entrance.svg");
  background-size: 21px 21px;
  background-repeat: no-repeat;
  background-position: 20px;
  border-radius: 20px;
  width: 93px;
  height: 32px;
  border: none;
  cursor: pointer;
  position: relative;
  text-indent: 30px;
  color: #fff;
  font-family: "Robotomedium";
  font-size: 14px;
}

.entrance-button:hover {
  display: block;
  background-color: rgba(255, 255, 255, 1);
  background-image: url("../img/entrance-black.svg");
  background-size: 21px 21px;
  background-repeat: no-repeat;
  background-position: 20px;
  border-radius: 20px;
  width: 93px;
  height: 32px;
  color: #000;
}

.entrance-button:hover ~ .modal-login {
  display: block;
}

.modal-login:hover {
  display: block;
}

.modal-login {
    display: none;
    border-radius: 6px;
    background-color: rgb(248, 247, 244);
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    position: absolute;
    width: 277px;
    height: 214px;
    padding: 0;
    right: 0;
}

#entrance-field-email {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(211, 211, 210);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  margin: 15px;
  width: 245px;
  height: 48px;
  z-index: 259;
}

#entrance-field-password {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(211, 211, 210);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  width: 245px;
  height: 48px;
  z-index: 257;
  margin: 0 15px 0 15px;
}

#entrance-submit-button {
  background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
  font-family: "Robotobold";
  font-size: 18px;
  vertical-align: middle;
  border-radius: 50px;
  color: #fff;
  border: none;
  width: 100px;
  height: 44px;
  z-index: 254;

}

.modal-login-links {
  display: inline-block;
  margin-left: 100px;
  text-decoration: underline;
  font-size: 13px;
  margin: auto;
}

.basket-button{
  display: block;
  background-color: rgba(255, 255, 255, 0.2);
  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  background-position: 25px;
  width: 117px;
  height: 32px;
  border-radius: 20px;
  border: none;
  text-indent: 20px;
  color: #fff;
  font-family: "Robotomedium";
  font-size: 14px;
}

.basket-button-not-empty {
  display: block;
  background-color: rgba(255, 255, 255, 0.2);
  background-image: url("../img/basket-red.svg");
  background-repeat: no-repeat;
  background-position: 25px;
  width: 117px;
  height: 32px;
  border-radius: 20px;
  border: none;
  text-indent: 20px;
  color: #fff;
  font-family: "Robotomedium";
  font-size: 14px;
}

.breadcrumps{
  display: inline-flex;
  justify-content: space-between;
  list-style: none;
}

.big-ad-title {
  font-size: 60.468px;
  font-family: "Roboto";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.006;
  text-align: center;
  -moz-transform: matrix( 0.99225231474236,0,0,0.99225231474236,0,0);
  -webkit-transform: matrix( 0.99225231474236,0,0,0.99225231474236,0,0);
  -ms-transform: matrix( 0.99225231474236,0,0,0.99225231474236,0,0);
  position: absolute;
  left: 199.657px;
  top: 451.681px;
  width: 669.711px;
  height: 116.821px;
  z-index: 48;
}

.big-ad-button{
  background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  position: absolute;
  display: block;
  border-radius: 30px;
  width: 280px;
  height: 64px;
  z-index: 40;
  color: #fff;
  font-family: "Robotobold";
  font-size: 32px;
  line-height: 64px;
  text-align: center;
  vertical-align: middle;
  left: 50%;
}
.slide-buttons li{
  display: inline-flex;
  list-style: none;
  margin-right: 15px;
}

.slide-buttons button {
  display: inline-block;
  border: 2px solid white;
  border-radius: 50%;
  background-color: rgba(255, 0, 0, 0);
  width: 21px;
  height: 21px;
  text-indent: -9999px;
  cursor: pointer;
}


.slide-buttons button:focus {
  background-color: rgb(255, 255, 255);
  border: 2px solid white;
  outline: none;
}

.slide-buttons button:hover {
  background-color: rgba(255, 255, 255, 0.4);
  border: 2px solid white;
  cursor: pointer;
}




.visually-hidden {
  display: none;
}

.malinka {
  background: url("../img/malina-background.jpg") no-repeat;
  background-size: 560px, 229px;
  border-radius: 15px;
  color: #fff;
  width: 560px;
  height: 229px;
  position: relative;
}

.malinka h3 {
  font-size: 23px;
  font-family: "Roboto";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-align: left;
  position: absolute;
  height: 22px;
  left: 20px;
  top: 20px;
  border: 1px solid red;
}

.malinka p {
  display: block;
  font-size: 12px;
  font-family: "Roboto";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.222;
  text-align: left;
  position: absolute;
  width: inherit;
  top: 70px;
  left: 20px;
}

.small-ads-button {
  background-image: -moz-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  opacity: 0.988;
  box-shadow: 0px 2px 2px 0px rgba(85, 8, 0, 0.54);
  position: absolute;
  width: 165px;
  height: 46px;
}

}



.chocolat {
  background: url("../img/chocolat-background.jpg") no-repeat;
  background-size: 560px, 229px;
  border-radius: 15px;
  color: #fff;
  width: 560px;
  height: 229px;
  margin-left: 25px;
}

.hit-creams-list {
  display: inline-flex;
}

.hit-creams-item {
  position: relative;
  width: 267px;
  height: 267px;
  margin-right: 25px;
}


.hit-creams-item::before {
  content: "";
  background: url("../img/hit.svg") no-repeat;
  width: 61px;
  height: 61px;
  display: flex;
  position: absolute;
  left: 5px;
  top: 5px;
}

.shop-info {
  background: url("../img/wafer.jpg");
  border-radius: 15px;
  width: 1146px;
  height: 306px;
  display: block;
  margin-top: 100px;
  text-align: center;
}

.shop-info-list {
  display: inline-block;
}

.shop-info-item {
  display: inline-flex;
  width: 520px;
}

.blog {
  display: flex;
  margin-top: 20px;
}

.blog-news {
  background: url("../img/strawberry-background.jpg") no-repeat;
  width: 560px;
  height: 220px;
  border-radius: 15px;
}

.subscription {
  background-image: repeating-linear-gradient(-45deg, white 0, white 10px, rgb(146, 205, 255) 10px, rgb(146, 205, 255) 20px, white 20px, white 30px, rgb(254, 158, 144) 30px, rgb(254, 158, 144) 40px);
  width: 560px;
  height: 220px;
  border-radius: 15px;
  position: relative;
  margin-left: 25px;
}

.white-background {
  background-color: white;
  display: block;
  width: 549px;
  height: 211px;
  border-radius: 15px;
  position: absolute;
  top: 5px;
  left: 5px;
}

.location {
  background: url("../img/map-background.jpg") no-repeat;
  width: 1200px;
  height: 430px;
}

.main-footer {
  display: inline-flex;
}

.footer-social {
  width: auto;
}

.footer-social li {
  display: inline-block;
}

.sertification {
  display: flex;
}

.footer-company-info {
  width: 220px;
  margin-left: 50px;
}
